/* position absolute 풀어야 함 */

.inputFamContainer {
    position: absolute;
    top: 40%; /* 화면에서 50% 아래로 */
    left: 50%; /* 화면에서 50% 왼쪽으로 */
    transform: translate(-50%, -50%); /* 정확히 중앙에 오도록 이동 */
    text-align: center;
}

.cHedgehog {
    width: 200px;
    height: auto;
}

.formText {
    font-size: 18px;
    color: black;
    text-align: center;
    margin: 10px 0;
    padding: 15px 25px;
    width: 280px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

/* :focus 선택자 수정: 공백 제거 */
.formText:focus {
    outline: none;
    border-color: #F9957F;  
}

/* 링크 위치 조정 */
.registerLink {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #f9957f;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;  /* 위쪽으로 약간 올리기 */
}

.registerLink:hover {
    text-decoration: underline;
}

.submit-family-name {
    background: linear-gradient(to right, #F2F5D0, #F9957F);
    border-radius: 20px;
    height: 30px;
    width: 120px;
    margin: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.mypageText {
    font-size: 12px;
}

.skipButton {
    text-align: center;
    width: 120px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #F2F5D0, #F9957F);
    color: white;
    cursor: pointer;
}