.MainTheme {
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 60px;
}

.LoginHedgehog {
    display: block; /* 기본적으로 inline 요소인 이미지를 block 요소로 변경 */
    margin-left: auto; /* 좌측 여백을 자동으로 설정 */
    margin-right: auto; /* 우측 여백을 자동으로 설정 */
}

.appName {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 배치 */
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    width: 100%;
}

.enterId {
    margin: 10px 0;
    padding: 15px 25px;
    width: 280px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.enterPassword {
    margin: 10px 0;
    padding: 15px 25px;
    width: 280px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.enterId:focus,
.enterPassword:focus {
    outline: none;
    border-color: #F9957F;
}


.loginButton {
    display: block; /* block 요소로 변경 */
    margin: auto; /* 자동 좌우 마진으로 중앙 정렬 */
    background: linear-gradient(to right, #F2F5D0, #F9957F);
    color: white;
    width: 325px;
    height: 55px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 20px;
}

.bottomText {
    margin-top: 20px;
    font-size: 1rem;
    text-align: center;
}

.signupLink {
    color: #F9957F;
    text-decoration: none;
}

.signupLink:hover {
    text-decoration: underline;
}