.MainTheme {
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 105px;
}

.LoginHedgehog {
    display: block; /* 기본적으로 inline 요소인 이미지를 block 요소로 변경 */
    margin-left: auto; /* 좌측 여백을 자동으로 설정 */
    margin-right: auto; /* 우측 여백을 자동으로 설정 */
}

.appName {
    text-align: center;
    font-family: 'Pretendard-Bold';
    font-size: 25px;
    font-weight: 700;
    word-spacing: 5px;
    line-height: 29.83px;
    margin-top: 20px;
    margin-bottom: 35px;
    color: #F9957F;
}

.loginForm ::placeholder{
    font-family: 'Pretendard-SemiBold';
    font-size: 15px;
    font-weight: 600;
    line-height: 17.9px;
    color: #AAAAAA;
}

.loginForm {
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 배치 */
    justify-content: center; /* 세로 중앙 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    width: 100%;

}

.enterId {
    margin: 10px 0;
    padding: 15px 25px;
    width: 280px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    color: #AAAAAA;
    font-family: 'Pretendard-SemiBold';
    font-size: 15px;
    font-weight: 600;
}

.enterPassword {
    margin: 10px 0;
    padding: 15px 25px;
    width: 280px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    color: #AAAAAA;
    font-family: 'Pretendard-SemiBold';
    font-size: 15px;
    font-weight: 600;
}

.enterId:focus,
.enterPassword:focus {
    outline: none;
    border-color: #F9957F;
}


.loginButton {
    box-shadow: 0px 3px 3px 0px #00000040;
    display: block; /* block 요소로 변경 */
    margin: auto; /* 자동 좌우 마진으로 중앙 정렬 */
    background: linear-gradient(to right, #F2F5D0, #F9957F);
    color: white;
    width: 325px;
    height: 55px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    color: #ffffff;
    font-family: 'Pretendard-SemiBold';
    font-size: 17px;
    font-weight: 600;
}

.bottomText{
    margin-top: 20px;
    text-align: center;
    font-family: 'Pretendard-SemiBold';
    font-size: 15px;
    font-weight: 600;
    line-height: 17.9px;  
    color: #AAAAAA;
}

.bottomText span{
    color: #F9957F;
}

.signupLink {
    text-decoration: none;
    color: #000000;
}

.signupLink:hover {
    text-decoration: underline;
}

.MainTheme img{
    width: 204.45px;
    height: 186px;
    margin-top: 10px;
    margin-bottom: -25px;
}