@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../font/Pretendard-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../font/Pretendard-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../font/Pretendard-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../font/Pretendard-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

.mission-d-top-4 {
    display: flex;
    flex-direction: row;
    width: 393px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: #F9DED3;
}

.fam-project-d-back-img img {
    width: 22.5px;
    height: 15px;
    transform: translateX(-120px);
}

.mission-d-title {
    font-family: 'Pretendard-SemiBold';
    font-size: 20px;
    font-weight: 600;
    margin-right: 13px;
    text-align: center;
}

.family-write-main-container {
    background-color: #F9DED3;
    width: 393px;
    height: 720px;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.family-write-date {
    position: relative;
    margin-top: 15px;
}

.family-write-date-input {
    width: 162px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #F9957F;
    font-family: 'Pretendard-SemiBold';
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-left: 160px;
    margin-top: 10px;
}

.calendar-icon {
    width: 9px;
    height: 9.05px;
}

.family-write-title input {
    text-align: center;
    width: 344px;
    height: 46px;
    outline: none;
    background: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #F9957F;
    font-family: 'Pretendard-SemiBold';
    font-size: 20px;
    font-weight: 600;
    padding-left: 15px;
    line-height: 53px;
    margin-top: 10px;
}

.fam-project-write-input-img {
    width: 359px;
    height: 186px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-top: 10px;
}

.family-write-location input {
    text-align: center;
    width: 344px;
    height: 46px;
    outline: none;
    background: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #F9957F;
    font-family: 'Pretendard-SemiBold';
    font-size: 20px;
    font-weight: 600;
    padding-left: 15px;
    line-height: 53px;
    margin-top: 10px;
}

.family-write-contents-container {
    position: relative;
    margin-top: 15px;
}

.family-write-contents-container textarea {
    width: 319px;
    height: 230px;
    border-radius: 20px;
    resize: none;
    border: none;
    outline: none;
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    padding: 20px;
    /* margin-top: 10px; */
}

/* .family-write-contents-container ::placeholder {
    font-family: 'Pretendard-Medium';
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #AAAAAA;
}

.family-write-char-count {
    font-size: 15px;
    color: #000000;
    font-weight: 400;
    display: flex;
    position: absolute;
    bottom: 25px;
    right: 25px;
} */


.diary-write-project-img img{
    width: 359px;
    height: 191px;
    border-radius: 20px;
    
}