.mission-no-detail-img img{
  width: 204.45px;
  height: 186px;
}

.m-n-line{
  border: 1px solid #E3E3E3;
  width: 100%;
}

.mission-no-detail-img{
  margin-top: 170px;
}

.mission-no-detail-text{
  font-family: 'Pretendard-Bold';
  font-size: 25px;
  font-weight: 700;
  color: #F9957F;
  text-align: center;
}

.mission-no-detail-text span{
  font-family: 'Pretendard-SemiBold';
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
  color: #000000;  
}

.mission-no-detail-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}