@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('../font/Pretendard-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../font/Pretendard-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../font/Pretendard-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('../font/Pretendard-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.Mission-d-container{
  width: 393px;
}

.mission-d-top{
  display: flex;
  flex-direction: row;
  width: 393px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.mission-d-back-img img{
  width: 22.5px;
  height: 15px;
  transform: translateX(-100px);
}
.mission-d-title{
  font-family: 'Pretendard-SemiBold';
  font-size: 20px;
  font-weight: 600;
  margin-right: 13px;
  text-align: center;
}

.mission-d-img img{
  width: 393px;
  height: 281.9px;  
}

.mission-d-img-gradation{
  width: 393px;
  height: 312.09px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 24.18%, rgba(255, 255, 255, 0.5) 59.34%, rgba(255, 255, 255, 0.935165) 95.34%, #FFFFFF 124.18%);
  transform: translateY(-270px);
}

.mission-d-contents-container{
  width: 393px;
  height: 455px;
  background-color: #ffffff;
  border-radius: 60px 60px 0px 0px;
  border-top: 1px solid #F3F3F3;
  margin-top: -365px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-d-contents{
  display: flex;
  flex-direction: row;
  gap: 13px;
  margin-top: 27px;
}

.mission-d-contents-main,.mission-d-contents-bar{
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.mission-d-contents-bar{
  font-family: 'Pretendard-Bold';
  font-size: 15.61px;
  font-weight: 700;
  line-height: 18.63px;
  color: #ED7C90;
  padding-right: 15px;
}

.mission-d-contents-bar-img{
  width: 5.2px;
  height: 131.14px;
  border-radius: 20.82px;
  background-color: #F9DED3;
}

.mission-d-contents-d{
  font-family: 'Pretendard-Regular';
  font-size: 14.57px;
  font-weight: 400;
  line-height: 20.82px;
}
.mission-d-contents-main{
  width: 252px;
  font-family: 'Pretendard-SemiBold';
  font-size: 15.61px;
  font-weight: 600;
  /* line-height: 18.63px; */
}

.mission-d-join button{
  width: 150px;
  height: 44px;
  border-radius: 46.15px;
  opacity: 0px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #F2F5D0 0%, #F9957F 100%);
  font-family: 'Pretendard-Medium';
  font-size: 16.62px;
  font-weight: 500;
  line-height: 20.11px;
  color: #ffffff; 
  margin-top: 30px;
}