.required {
    color: red;
    font-size: 1.2rem;
    margin-left: -3px;
    vertical-align: middle; /* 세로 중앙 정렬 */
    line-height: 1.2; /* 줄 높이를 약간 조정 */
}

.signinGroup label {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
}

.signUpForm {
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    position: absolute; /* 부모의 위치를 절대 위치로 설정 */
    top: 40%; /* 화면에서 50% 아래로 */
    left: 50%; /* 화면에서 50% 왼쪽으로 */
    transform: translate(-50%, -50%); /* 정확히 중앙에 오도록 이동 */
}

.signinGroup {
    margin-bottom: 15px;
}

.mandatoryId,
.mandatoryPw,
.mandatoryEmail,
.mandatoryNickname {
    width: 320px;
    height: 15px;
    padding: 20px;
    margin-top: 5px;
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    border-color: #ccc; /* 기본 테두리 색상 */
    outline: none;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
}

.mandatoryId:focus,
.mandatoryPw:focus,
.mandatoryEmail:focus,
.mandatoryNickname:focus {
    border-color: #F9957F; /* 포커스 시 색상 변경 */
}

.submitBtn {
    padding: 10px;
    background: linear-gradient(to right, #F2F5D0, #F9957F);
    color: white;
    height: 60px;
    width: 100%; /* 버튼을 부모 너비에 맞게 확장 */
    border-radius: 50px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top: 15px;
}