.required {
    color: #F9957F;
    font-size: 1.2rem;
    margin-left: -3px;
    vertical-align: middle; /* 세로 중앙 정렬 */
    line-height: 1.2; /* 줄 높이를 약간 조정 */
}

.signinGroup label {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
}

.signUpForm {
    /* background-color: #ffffff; */
    font-family: 'Pretendard-Bold';
    font-size: 12px;
    font-weight: 700;
    line-height: 14.32px;
    padding: 10px;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    /* align-items: center; */
    margin-top: 40px;
    margin-left: 10px;
}

.signinGroup {
    margin-bottom: 15px;
}

.signinGroup ::placeholder{
    font-family: 'Pretendard-Medium';
    font-size: 12px;
    font-weight: 500;
    line-height: 14.32px;
    color: #AAAAAA;
}

.mandatoryId,
.mandatoryPw,
.mandatoryEmail,
.mandatoryNickname {
    width: 320px;
    height: 15px;
    padding: 15px;
    margin-top: 5px;
    border-radius: 50px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    border-color: #ccc; /* 기본 테두리 색상 */
    outline: none;
    display: flex;
    justify-content: center; 
    font-family: 'Pretendard-Medium';
    font-size: 13px;
    font-weight: 500;
    line-height: 14.32px;
}

.mandatoryId:focus,
.mandatoryPw:focus,
.mandatoryEmail:focus,
.mandatoryNickname:focus {
    border-color: #F9957F; /* 포커스 시 색상 변경 */
}

.submitBtn {
    padding: 10px;
    background: linear-gradient(to right, #F2F5D0, #F9957F);
    color: white;
    height: 60px;
    /* width: 100%; 버튼을 부모 너비에 맞게 확장 */
    border-radius: 50px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-family: 'Pretendard-SemiBold';
    font-size: 18px;
    font-weight: 600;
    margin-top: 180px;
    line-height: 21.48px;  
}
